html{
    padding: 0px;
    margin: 0px;
}

.container1{
    display: block;
    background-color:rgba(400, 150, 220, 0.6) ;
    width: 500px;
    border: 1px double black;
    padding: 0px;
    text-align: center;
}
p{
    margin-top: 0px;
    margin-bottom: 5px;
}
.name{
    text-align: center;
}
h2{
    text-shadow: 3px 3px 10px #36b8e3;
}
li[class]{
    background-color: #A4907C;
    
}
/* li[class="a"]{
    background-color: #A4907C;
    
} */